body{
    font-size:1cm;


}
p{
    position:relative;
    top:10px;
    left:20px;
}
table{
    border: 0;
    font-family: Arial;
    font-size: 18px;

}
ul{
   width:100%;
   margin:0;
   padding:0;
   list-style: none;
}
li{
    margin-top: 15px;
    padding-bottom:15px;
    display: inline-block;
    width:70%;
    border-bottom: dashed 1px;
}

input[type="text"]{
    border:2px solid #168001;

}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius:
    5px;
}
